/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

html {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 100%;
}

h2 {
    font-size: 2.3em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.2em;
}

.lh_1half {
    line-height: 1.5em;
}

.lh_2 {
    line-height: 2em;
}

.lh_3 {
    line-height: 3em;
}


/* COMMON - Margin/Padding */

/* Margin top */

.mt_half {
    margin-top: .5em;
}

.mt_1 {
    margin-top: 1em;
}

.mt_1half {
    margin-top: 1.5em;
}

.mt_2 {
    margin-top: 2em;
}

.mt_3 {
    margin-top: 3em;
}

.mt_4 {
    margin-top: 4em;
}

.mt_5 {
    margin-top: 5em;
}

.mt_8 {
    margin-top: 8em;
}

.mt_11 {
    margin-top: 11em;
}


/* Margin bottom */

.mb_1 {
    margin-bottom: 1em;
}

.mb_2 {
    margin-bottom: 2em;
}

.mb_3 {
    margin-bottom: 3em;
}

/* Padding top */

.pt_2 {
    padding-top: 2em;
}

.pt_3 {
    padding-top: 3em;
}

.pt_5 {
    padding-top: 5em;
}

.pb_3 {
    padding-bottom: 3em;
}

.pb_5 {
    padding-bottom: 5em;
}

.bd_top {
    border-top: 1px solid gray;
    display: inline-block;
}

/* COMMON - Float */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* COMMON - Buttons */



/* .button {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    background-color: blue;
} */

/* .button:hover {
    background-color: cornflowerblue;
} */



/* COMMON - List */

ul {
    list-style: none;
}

a {
    text-decoration: none;      
}

/* HEADER */

/* HEADER - Menu */

nav {
    width: 100%;
    height: 4em;
    position: fixed;
    background-color: white;
    z-index: 99;
}

nav li {
    color: black;
    font-size: .9em;
    font-weight: 600;
    margin: 0 1em 0;
    line-height: 4em;
    display: inline-block;
}

nav a img {
    width: 90%;
    vertical-align: middle;
}


/* HEADER - Menu - Hover */

.border_bottom {
    border-bottom: none;
}

.border_bottom:hover {
    border-bottom: 2px solid black;
}


/* JUMBOTRON */

.jumbotron {
    width: 100%;
    height: 100vh;
    background-color: #B4D0E7;
    padding: 8em 0 2em;
}

.jumbo {
    width: 80%;
    margin: 0 auto;
}

.jumbotron h1 {
    font-weight: bold;
    font-size: 3.8em;
}

.jumbo_text {
    width: 28%;
    margin-top: 2em;
    font-size: .8em;
    font-weight: 600;
}

.jumbo_img {
    width: 50%;
}

.jumbotron img {
    height: 60vh;
    position: relative;
    top: 2em;
}

#arrow_down{
    font-size: 2.5em;
    color: black;
}


/* COLUMNS */


.col {
    width: 29%;
    border: 1px solid gray;
    font-size: .8em;
    min-height: 67em;
}

.second_col {
    margin-right: 6.5%;
    margin-left: 6.5%;
}

/* COLUMNS - Content */

.col h3 {
    font-weight: 400;
    line-height: 2em;
    text-align: center;
    border-bottom: 1px solid gray;
}

.radio {
    margin-right: .7em;
    display: inline-block;
}

.col_details {
    padding: 1.5em;
}


/* COLUMN - Price */


.price> :first-child {
    font-weight: bold;
}

.price> :last-child {
    color: gray;
}


/* COLUMN - Properties */

.icon {
    width: 1.3em;
    display: inline-block;
}

.icon_text {
    width: calc(100% - 1.3em);
    display: inline-block;
}

.or {
    padding-bottom: 2em;
    border-bottom: 1px solid gray;
}

.check_list .icon {
    color: green;
}


/* TEAM TABLE */

.team {
    border: 1px solid gray;
    font-size: .8em;
}

.team_text {
    display: inline-block;
    width: 100%;
    line-height: 2em;
    border-bottom: 1px solid gray;
    text-align: center;
}

.contact {
    padding: 1.5em;
}

.contact_text {
    width: 70%;
}

.contact_button {
    width: 30%;
}


/* PARTNER  */

.partner_img {
    width: 50%;
}

.partner_text {
    width: 50%;
    padding-top: 2.5em;
    padding-left: 4em;
}


/* OPERATIONS */


.t_col {
    width: 29%;
    font-size: .9em;
}

.second_t_col {
    margin-right: 6.5%;
    margin-left: 6.5%;
}

.operations_table img {
    width: 100%;
}

.underline {
    text-decoration: underline;
}


/* MORE */

.more {
    background-color: yellow;
}


/* MEMBERS */

.members_container {
    width: 100vw;
    height: 30vw;
    background-color: red;
}

.mem_col


/* TRY IT */

.try_it {
    background-color: lightblue;
    width: 100%;
    height: 300px;
}





/* TEST */

.container {
    background-color: blueviolet;
    width: 70%;
    margin: 0 auto;
}

.faq {
    background-color: greenyellow;
    width: 100%;
    height: 300px;
}

.footer_list {
    background-color: darkgrey;
    height: 200px;
}

.language {
    background-color: darkslategrey;
    height: 100px;
}